@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="alert alert-info">
    <p>Kimlik bilgilerinizi <b>"Profil > Kimlik Bilgilerim"</b> e tıklayarak görebilirsiniz.</p>
    <p>İletişim bilgilerinizi <b>"Profil > Kimlik Bilgilerim"</b> e tıklayarak görebilir ve düzenleyebilirsiniz.</p>
    <p>Ders kayıdınızı <b>"Ders Kayıt"</b> a tıklayarak gerçekleştirebilirsiniz.</p>
</div>